/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Container styles */
  .container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
  }
  
  /* Quiz header styles */
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Quiz question container */
  #quizContainer {
    text-align: left;
    margin-bottom: 20px;
  }
  
  /* Question text styles */
  #questionText {
    font-size: 18px;
    margin-bottom: 40px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    background-color:#007bff;
    color: white;
  }
  
  /* Options container styles */
  .options-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 10px;
    display: inline-block; /* Ensure it stays in line with the question text */
  }
  
  /* Options styles */
  #quizForm {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin: 5px 0;
    cursor: pointer;
    display: block;
  }
  
  /* Next button styles */
  #nextButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #nextButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  #nextButton:hover:enabled {
    background-color: #0056b3;
  }
  
  /* Result container styles */
  #resultContainer {
    text-align: center;
    display: none;
  }
  
  #correctAnswers {
    font-size: 16px;
    margin-top: 20px;
  }
  
  /* Restart button styles */
  #resultContainer button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #resultContainer button:hover {
    background-color: #218838;
  }
  